$goldenrod: darkgoldenrod;
@mixin main-colours {
  background-color: lightgray;
  color: black;
}

@mixin on-theme-button {
  @include accent-colours;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@mixin on-theme-button-hover {
  @include on-theme-button;
  color: black;
}
@mixin accent-colours {
  background-color: $goldenrod;
  color: #fff;
}
@mixin center-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin link-styles {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  transition: color 0.3s ease;

  &:hover {
    color: lightgray;
  }
}

@mixin scrollable-container {
  overflow-y: scroll;
  height: 60vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


@mixin top-stick {
  position: sticky;
  top: 0;
  background: #fff; // Add a background color to prevent cells from showing through
  z-index: 1; // Optional: Increase z-index to ensure the header overlays the table rows when scrolling
}

@mixin spinner {
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

}

@mixin button-colours {
  background-color: $goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $goldenrod;
    color: lightgray;
  }

  &:active {
    border: inset;
    border-width: thin;
    border-color: $goldenrod;
    transform: translate(1px, 1px);
  }
}
