div .appointment {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

div .add-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-button,
.edit-button {
  font-size: 8px;
  padding: 2.5px 5px;
  margin-right: 5px;
  // background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.edit-button {
  background-color: #007bff;

}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
p {
 text-align: left;
}