.client-list-container {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  height: 500px; 
  overflow-y: scroll; 
  border: 1px solid rgba(255, 255, 255, 0.458); 
  border-radius: 10px;
  background-color: whitesmoke;
}


.client-list {
  list-style-type: none;
  width: 40%;
  padding-left: 27vw;

  .client-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 5px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
    .client-delete-icon {
      margin-top: -38px;
      margin-left: 500px;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .client-delete-icon:hover {
      color: red;
      text-shadow: 0px 0px 5px red;
    }

    .client-edit-icon {
      margin-top: -20px;
      margin-left: 450px;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .client-edit-icon:hover {
      color: black;
      text-shadow: 0px 0px 5px black;
    }

    .client-delete-container {
      margin-top: -40px;
      position: relative; /* Needed for absolute positioning of pseudo-element */
      -webkit-box-shadow: 0 4px 6px -6px #222;
      -moz-box-shadow: 0 4px 6px -6px #222;
      box-shadow: 0 4px 6px -6px #222;
    
      .delete-msg {
        margin-bottom: 0px;
      }

      .delete-confirm {
        display: flex;
        justify-content: space-evenly;
      }
    
      .delete-button {
        background-color: lightgray;
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding:6px;
        margin-bottom: 5px;
        margin-top:5px;
      }
    }

    

    .delete-button:hover {
      background-color: #0056b3;
      color:white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  
  }
  
}

.add-new-client-button {
  top: 110px;
  right: 645px;
  background-color: darkgray; 
  color: black; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}

.add-new-client-button:hover {
  background-color: #0056b3;
  color:white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



