.client-list {
  list-style-type: none;
  width: 45%;
  padding-left: 26vw;
  
}

.client-item {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.client-details {
  display: flex;
  flex-direction: column;
 
}

.client-details span {
  margin-bottom: 3px;
}

.client-id {
 margin-right: 500px;
 margin-top:-10px;
}

.new-client-button {
  position: fixed;
  top: 150px; 
  right: 150px; 
  background-color: darkgray; 
  color: black; 
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  cursor: pointer;
  font-size: large;
}

.new-client-button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}




