.client-option {
  width: 50vw ;
  padding: 8px;
  font-size: 14px;
  font-family: "Georgia, 'Times New Roman', Times, serif";
  font-size: large;
  background-color: darkgray;
  border-radius: 4px;
}