.client-list-container {
  position: fixed;
  top: 90px;
  bottom: 40px;
  width: 100vw;
  background-color: lightgray; /* Set your desired background color */
  z-index: 1; /* Ensure it's on top of other elements */
  overflow-y: hidden;
}
