// div .day-housing {
//   display: flex;
//   border: 2px solid;
//   border-color: blue;
//   flex-direction: column;
// }
/* Add this CSS to your stylesheet */



.day-housing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  width: calc(100% / 7);
  /* Distribute days equally */
}



// div .day-container {
//   display: flex;
//   flex-direction: column;

//   .day-housing {
//     display: flex;
//     // flex-direction: column;
//     justify-content: space-evenly;
//   }


//   .add-edit {
//     display: flex;
//     justify-content: space-evenly;

//     div {
//       display: flex;
//       flex-direction: column;
//     }
//   }
// }

// div .single-day {
//   border: 2px solid;
//   border-color: blue;
// }

// div .days-bar {
//   border: 2px solid;
//   border-color: red;
//   padding: 40px;
// }