@import "./mixins";
.edit-client-modal-container {
  max-height: 65vh;
  top: 190px;
  left: 72vw;
  min-width: 20vw;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
}

.edit-client-modal-content {
  position: relative;
  margin-top: 0vw;
  margin-bottom: -1px;
}

.edit-form-title:hover {
  text-shadow: 0px 0px 5px darkgray;
  cursor: pointer;
}

.edit-client-close {
  position: absolute;
  top: -12px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
}

.form-group-edit-client {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  label {
    display: block;
    font-weight: bold;
    min-width: 80px;
    text-align: left;
  }

  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: lightgray;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.edit-client-button {
  background-color: darkgray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-client-button:hover {
  background-color: #0056b3;
}

.address-group-edit {
  margin-top: 20px;
  margin-bottom: 10px;

  .address-input-edit {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: lightgray;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

}


