.edit-client-modal-container {
  margin-top: -450px;
  margin-left:1050px;
  width: 20%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
}