@import './mixins';

.footer-container {
  flex-shrink: 0;
  @include accent-colours;
  text-align: center;
  width: 100%;
  display: flex-column;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  padding-top: 5px;
  margin-left: 10px;
  @include flex-center;
}

.footer-links {
  @include flex-center;
  gap: 8vw;
}

.footer-links a {
  @include link-styles;
}

.footer-company {
  margin-bottom: 0;
  font-size: 10px;
  padding-bottom: 5px;
  align-items: center;
}
