@import "./mixins";


.forge-invoice-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  @include button-colours;
  color: white;
  margin: 1vw;
  padding: 10px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;

}

.invoice-confirm-button {
  @include  button-colours;
  padding: 7px;
  font-size: medium;
}

