
.sidebar {
  display: inline-flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  display: flex;


  li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-inline-start: 0px;
    margin-inline-start: 0px;
  }
}