#floating-add-button {
  position: absolute;
  top: 122px;
  left: 270px;
  font-size: 16px;
  padding: 4px;
  background-color: darkgoldenrod;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 4;
  &:hover {
    color: lightgray;
    background-color: rgba(32, 138, 252, 0.8);
  }
}
