#floating-add-button {
  position: absolute;
  top: 115px;
  left: 270px;
  font-size: 16px;
  padding: 10px;
  background-color: #208afccc;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 4;
}
