@import "../../../../styles/mixins";

input.number-input {
  width: 3rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(43, 40, 40, 0.208);
}

.empty-list {
  display: flex;
  flex-direction: column;
  .btn.nav-btn {
    @include button-colours;
    margin: 8px;
  }
}
