@import "../../../styles/mixins.scss";

.table-container {
  max-height: 70vh;
  overflow-y: auto;
  margin-bottom: 0;
}

.table-container {
  margin: 0
  thead th,
  thead-dark th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
  }
  .table.table-striped {
    margin:0;
  }


}
button.btn.check-btn {
    @include button-colours;
  }
