@import "./styles/_mixins.scss";
html, body {
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  margin: 0;
  text-align: center;
  @include main-colours;
}

.page-content {
  padding-top: 72px;  /* This should be equal to the height of the navbar */
  display: flex;
  min-height: 100%;
}
